
.slick-next{
    right: -20px !important;
    /* background-color: blue; */
    color: #255773 !important;
}

.slick-prev{
    left: -20px !important;
    color: #255773 !important;
    /* background-color: blue; */
}

.slick-prev:before, .slick-next:before{
    color: #255773 !important;
}